.content{

    display: flex;
    

}
.container {
    margin-top: 20px;
    width: 300px;
    margin-left: 20px;
    padding-right: 0px;
    margin-right: 50px;
    
}
.side {
    margin-top: 25px;
    
}
.row {
    width: 280px;
    
}

.btn {
    width: 80px;
    height: 80px;
    margin-top: 2%;
    border-radius: 15%;
text-align: center;

}
body{
    background-color: rgb(255, 231, 235);
    
}
.btn-light {
    background-color: rgb(188, 143, 143);
    color: black;
    border: 3px solid black;
}

.btn-light:hover {
    background-color: rgba(0, 0, 0, 0.168);
}

.button {
    width: 80px;
    height: 80px;
}
.but {
    background-color: rgb(255, 228, 196);
}
#player {
    height: 62px;
}